@import 'styles/index';

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-margins {
  margin: 0 !important;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
